body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  min-height: calc(100vh - 64px - 70px);
}

.preloader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
}

label:not(:last-child) {
  margin-right: 2rem;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
  border: 2px solid #b71c1c ;

}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
  background-color: #b71c1c;
}